<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h1>送信が完了しました</h1>
      <p>内容は以下の通りです。</p>
      <dl>
        <dt>[タイトル]</dt>
        <dd><%= @event_mail.title %></dd>
        <dt>[本文]</dt>
        <dd><%= @event_mail.content %></dd>
      </dl>
      <%= link_to "Back", group_path(@group) %>
    </div>
  </div>
</div>