<table class='table'>
  <thead>
    <tr>
      <th></th>
      <th>name</th>
      <th>introduction</th>
      <th colspan="1"></th>
    </tr>
  </thead>
  <tbody>
    <% groups.each do |group| %>
      <tr>
        <td><%= image_tag group.get_image, size: '50x50' %></td>
        <td><%= link_to group.name, group %></td>
        <td><%= group.introduction %></td>
        <td>
          <% if group.is_owned_by?(current_user) %>
          <%= link_to "Edit", edit_group_path(group), class: "btn btn-sm btn-success" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
