<% if user.followed_by?(current_user) %>
  <p>
    <%= link_to user_relationships_path(user), method: :delete do %>
      フォロー済み
    <% end %>
  </p>
  <% else %>
  <p>
    <%= link_to user_relationships_path(user), method: :post do %>
      フォローする
    <% end %>
  </p>
<% end %>