<%= form_with url: search_date_path, method: :get, local: false do |f| %>
  <div class="form-group">
    <%= f.hidden_field :user_id, value: @user.id %>
    <%= f.date_field :search_date %>
    <%= f.submit "検索" %>
  </div>
<% end %>